.detail-container {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  background-color: #ffffff;
  text-align: left;
  padding: 1%;
  .not-violations-container {
    position: relative;
    .detail-text {
      // text-align: left;
      margin: 3%;
      padding: 2%;
    }
    .detail-image-placeholder {
      position: absolute;
      top:4px;
      right: 4px;
      // float: right;
      height: 100%;
      width: 20%;
      margin: 0 0.8% 0 0.8%;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: #d8d8d8;
      background-color: #ececec;
    }
  }
  .violations {
    margin-top: 10px;
  }
}