ul {
  list-style-type: none;
  padding: 0;
  li {
    background-color: #ffffff;
    margin: 3%;
    border-style: solid;
    border-color: #d8d8d8;
    border-width: 1.5px;
    height: 15vh;
    overflow: hidden;
    .image-placeholder {
      height: 100%;
      width: 20%;
      margin: 0 0.8% 0 0.8%;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .image-proper {
        height: 90%;
        width: 100%;
        // margin: 0.8%;
        vertical-align: middle;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #d8d8d8;
        background-color: #ececec;
      }
    }
    .list-item-titles {
      display: flex;
      flex-direction: row;
      justify-content: right;
      align-items: flex-end;
      .business-name {
        margin: 4px;
        font-weight: bold;
        font-size: 150%;
      }
      .facility-type {
        margin: 4px;
        font-weight: bold;
        color: #b7b7b7;
      }
    }
    .violations {
      text-align: left;
    }
  }
}